---
import Navbar from "@/components/layout/Navbar.astro";
import "@/assets/css/global.css";

import { loadTranslations } from "../lib/i18n";
const lang = Astro.params.lang || 'es';
const t = await loadTranslations(lang);

const {
  title = "AlmhaPlasticSurgery",
  description = "Descripción por defecto",
  keywords = "",
  image = "../assets/images/abdominoplastia.jpg",
} = Astro.props;

const { carouselNavbar = [] } = Astro.locals.global.design;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Almha" />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Navbar images={carouselNavbar.carouselNavbar} />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
